<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <div>
        Esto es Contact
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>