<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="body">
    <%- include('../partials/header'); %>
    <div>
        Esto es home
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>